<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/customers" class="btn btn-info">List Customers</a></li>
            <li class="list-inline-item"><a routerLink="/addcustomer" class="btn btn-info">Add Customer</a></li>
            <li class="list-inline-item"><a routerLink="/Products" class="btn btn-info">Products</a></li>
            <li class="list-inline-item"><a routerLink="/cart" class="btn btn-info">Shopping Cart</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
